@page
@model TorneoFutbol.App.Frontend.Pages.Dts.ListDtsModel
@{
}
<h1>Lista de Directores Tecnicos</h1>
<a class="btn btn-primary" asp-page="./CreateDts">Crear</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Telefono</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dt in Model.dts)
        {
            <tr>
                <th>@dt.Nombre</th>
                <td>@dt.Documento</td>
                <td>@dt.NumeroTelefono</td>
                <td>
                    <a class="btn btn-primary" asp-page="./DetailsDts" asp-route-id="@dt.ID">Detalles</a>
                    <a class="btn btn-primary" asp-page="./EditDts" asp-route-id="@dt.ID">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>