@page
@model TorneoFutbol.App.Frontend.Pages.Partidos.IndexModel
@{

  <div class="container p-3 my-3 bg-dark text-white">
    <div class="row">
      <div class="col">
        <p style="text-align:center;"><b>Local</b></p>
      </div>
      <div class="col mb-2 bg-success text-white">
        <p style="text-align:center;"><b>Marcador</b></p>
      </div>
      <div class="col">
        <p style="text-align:center;"><b>Visitante</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <p style="text-align:center;">@Model.partido.EquipoVisitante.Nombre</p>
        </div>
      </div>
      <div class="col">
        <p style="text-align:center;">@Model.partido.MarcadorInicialVisitante - @Model.partido.MarcadorInicialLocal</p>
      </div>
      <div class="col">
        <div>
          <p style="text-align:center;">@Model.partido.EquipoLocal.Nombre</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p style="text-align:center;">@Model.partido.Arbitro.Nombre</p>
      </div>
      <div class="col mb-2 bg-success text-white">
        <p style="text-align:center;"><b>Arbitro</b></p>
      </div>
      <div class="col" style="text-align:center;">
        <button type="submit" class="btn btn-primary">Agregar Novedad</button>
      </div>
      <div class="col mb-2 bg-success text-white">
        <p style="text-align:center;"><b>Estadio</b></p>
      </div>
      <div class="col">
        <p style="text-align:center;">@Model.partido.Estadio.Nombre</p>
      </div>
    </div>
  </div>
}
