@page
@model TorneoFutbol.App.Frontend.Pages.Jugadores.ListJugadoresModel
@{
}
<h1>Lista de Jugadores</h1>
<table class="table" style="text-align: center;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Telefono</th>
            <th scope="col">Numero</th>
            <th scope="col">Posicion</th>
            <th scope="col">Equipo</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jugador in Model.jugadores)
        {
            <tr>
                <th>@jugador.Nombre</th>
                <td>@jugador.Documento</td>
                <td>@jugador.NumeroTelefono</td>
                <td>@jugador.Numero</td>
                <td>@jugador.Posicion</td>
                <td>@jugador.Equipo.Nombre</td>
                <td>
                    <a class="btn btn-primary" asp-page="./DetailsJugadores" asp-route-id="@jugador.ID">Detalles</a>
                    <a class="btn btn-secondary" asp-page="./EditJugadores" asp-route-id="@jugador.ID">Editar</a>
                    <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@jugador.ID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form method="get">
<div class="row">
    <div class="col" style="text-align:left">
        <a class="btn btn-primary" asp-page="./CreateJugadores">Registrar Nuevo</a>
    </div>
    <div class="col">
        <select name="col" id="col" class="form-control">
            <option value=""> </option>
            @foreach (var jugador in Model.jugadores)
            {
                <option value="@jugador.Equipo.Nombre">@jugador.Equipo.Nombre</option>
            }
        </select>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-secondary">Filtrar</button>
    </div>
    <div class="col">
    </div>
</div>
</form>
