@page
@model TorneoFutbol.App.Frontend.Pages.Equipos.ListEquiposModel
@{
}
<h1>Lista de Equipos</h1>
<table class="table" style="text-align:center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Municipio</th>
            <!--<th scope="col">Desempeño</th>-->
            <th scope="col">Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var equipo in Model.equipos)
        {
            <tr>
                <th>@equipo.Nombre</th>
                <td>@equipo.Municipio.Nombre</td>
                <!--<td>@equipo.Desempeno</td>-->
                <td>
                    <a class="btn btn-primary" asp-page="./DetailsEquipos" asp-route-id="@equipo.ID">Detalles</a>
                    <a class="btn btn-secondary" asp-page="./EditEquipos" asp-route-id="@equipo.ID">Editar</a>
                    <a class="btn btn-outline-danger" asp-page="./DeleteEquipos" asp-route-id="@equipo.ID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" style="text-align:left" asp-page="./CreateEquipos">Registrar Nuevo</a>
