@page
@model TorneoFutbol.App.Frontend.Pages.Municipios.DetailsMunicipiosModel
@{
}
<h1>Detalles de los Municipios</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.municipio.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Departamento</th>
        <td>@Model.municipio.Departamento</td>
    </tr>
    <tr>
        <th scope="col">Estadio</th>
        @if (@Model.municipio.Estadio == null)
        {
            <td><a class="btn btn-primary" asp-page="./AddEstadio" asp-route-id="@Model.municipio.ID">Asignar Estadio</a></td>
        }
        else
        {
            <td>@Model.municipio.Estadio.Nombre</td>
        }
    </tr>
</table>
<a class="btn btn-primary" asp-page="./ListMunicipios">Volver</a>