@page
@model TorneoFutbol.App.Frontend.Pages.Arbitros.ListModel
@{
}
<h1>Lista de Arbitros</h1>

<table class="table" style="text-align:center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Telefono</th>
            <th scope="col">Colegio</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var arbitro in Model.arbitros)
        {
            <tr>
                <th>@arbitro.Nombre</th>
                <td>@arbitro.Documento</td>
                <td>@arbitro.NumeroTelefono</td>
                <td>@arbitro.Colegio</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@arbitro.ID">Detalles</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@arbitro.ID">Editar</a>
                    <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@arbitro.ID">Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<form method="get">
<div class="row">
    <div class="col" style="text-align:left">
        @if (User.Identity.IsAuthenticated)
        { 
        <a class="btn btn-primary" asp-page="./Create">Registrar Nuevo</a>
        }
    </div>
    <div class="col">
        <select name="col" id="col" class="form-control">
            <option value=""> </option>
            @foreach (var arbitro in Model.arbitros)
            {
                <option value="@arbitro.Colegio">@arbitro.Colegio</option>
            }
        </select>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-secondary">Filtrar</button>
    </div>
    <div class="col">
    </div>
</div>
</form>